
html {
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	margin: 0;
	font-family: 'Georgia';
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: #222222;
	/*background-color: #EFEFEF;*/
}

#container { 
	padding: 60px 0px 0px 60px;
	width: 600px; 
}

#top p {
	margin-top: 0px;
}

#intro {
	font-size: 22px;
	line-height: 1.25;
}

#links {
	font-size: 18px;
}

ul { 
	display: inline-block; /* may as well use flex at this point */
	padding: 0; 
}


li {
	display: inline-block;
	margin-right: 20px;
    padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #222222;
	transition: transform 0.25s ease-in-out;
	text-indent: 0em; /* I guess nested anchors in `.description p` inherit this property */
	font-weight: bold;
}

a:hover {
	-webkit-transform: skewX(-15deg);
	-moz-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	transform: skewX(-15deg);
}

#bottom {
	margin-top: 60px;
}

.header {
	margin-bottom: 30px;
	font-size: 22px;
}

.header-title { 
	/*font-family: 'Arial';*/
	font-weight: 600;
}

.subheader {
	/*font-family: 'Arial';*/
	font-weight: 600;
}

.section {
	margin-left: 15px;
	font-size: 18px;
}
/*
.description {
	margin-left: 15px;
}*/

.description p {
	text-indent: 2em;
	line-height: 1.25;
	margin: 2px 0px 2px 0px; /* not quite 25% (total) to match line height but close enough */
}

.code-wrapper {
	padding-left: 15px;
	background-color: #FAFAFA;
}

code {
	font-size: 14px;
	font-family: "Menlo-Regular", "Consolas", "Monospace"; 
	white-space: pre;
	line-height: 1.5;
}

code span.js-string {
	color: #C61916;
}

/* 
 * Just for console.log
 */

code span.log {
	color: #4E342E;
}

code span.bark {
	text-decoration: overline underline;
}

/*code span.close {
	letter-spacing: -3px;
}*/


/* ~ modern iphones */
@media only screen and (max-width : 740px) {
	#container { 
		padding: 40px 0px 0px 8.5%;
		width: 83%; 
	}

	#bottom {
		margin-top: 20px;
	}
}

@media only screen and (max-width : 570px) {
	#container { 
		padding: 10px 0px 0px 4.5%;
		width: 91%; 
	}

	#top p {
		margin-top: 10px;
	}

	#links ul {
		display: block;
	}

	#links ul:first-child {
		margin-bottom: 8px;
	}

	#links ul:nth-child(2)  {
		margin-top: 0px;
		/*font-size: 16px;*/
	}

	#links li {
		width: 40%;
	}
}
